<DSP>
  <loginPage>
    <loginPageHeading value="Discount Eligibility" />
    <loginFieldLabel value ="EMPLOYEE ID *"/>
    <loginFieldPlaceholder value ="Employee Id"/>
    <loginButtonValue value ="Login"/>
    <errorMessageIfUserNotFound value="Invalid Employee Id"/>
    <errorMessageIfUserNotActive value="Inactive Employee"/>
    <range minValue ="1" maxValue="999999" errorMessage="Please Enter value in between {0} to {1}"/>
    
  </loginPage>

  <searchPage>
    <searchPageHeading value="Discount Eligibility"/>
    <searchFieldLabel value="ASSOCIATE NUMBER"/>
    <searchFieldPlaceholder value = "Associate Number"/>
    <searchButtonValue value ="Verify Discount Status"/>
    <searchPanelHeading value ="Searched Result."/>
    <preferredName value ="PREFERRED NAME:"/>
    <location value ="LOCATION:"/>
    <eligibleForDiscount value ="ELIGIBLE FOR DISCOUNT?:"/>
    <noResultFound  value = "Employee Id is not Exist"/>
    <range minValue ="1" maxValue="999999" errorMessage="Please Enter value in between {0} to {1}"/>
  </searchPage>
</DSP>