<DSP defaultBrandName="HT">
  <allBrands>
    <addBrand brandName="HT">
      <customError>
        <errorMessage value="Error has been occurred, Please contact System Administrator."/>
        <errorLogLocation value="D:/Log/HTLog"/>
      </customError>  
      <uiLogoAndBanner>
        <backgroundColor value="black !important" />
        <brandLogoPath value="~/Images/Logos/HT/logo.png" />
        <brandBannerPath value="~/Images/Logos/HT/banner.jpg" />
      </uiLogoAndBanner>
      <loginPage>
        <jobCodesAllowedToLogin value="KH,PTASM,FTASM,SM,DM,TEMPKH,TEMPASMP,TEMPASMF,TEMPSM" />
        <loginPageHeading value="Discount Eligibility" />
        <loginFieldLabel value="EMPLOYEE ID *" />
        <loginFieldPlaceholder value="Employee Id" />
        <loginButtonValue value="Login" />
        <errorMessageIfUserNotFound value="Invalid Employee Id" />
        <errorMessageIfUserNotAllowedToLogin value="You are not allowed to login. Use different Employee Id." />
        <range minValue="1" maxValue="999999" errorMessage="Please Enter value in between {0} to {1}" />
      </loginPage>
      <searchPage>
        <searchPageHeading value="Discount Eligibility" />
        <searchFieldLabel value="ASSOCIATE NUMBER" />
        <searchFieldPlaceholder value="Associate Number" />
        <searchButtonValue value="Verify Discount Status" />
        <searchPanelHeading value="Searched Result" />
        <preferredName value="PREFERRED NAME" />
        <location value="LOCATION" />
        <eligibleForDiscount value="ELIGIBLE FOR DISCOUNT?" />
        <noResultFound value="Employee Id doesn't exist" />
        <range minValue="1" maxValue="999999" errorMessage="Please Enter value in between {0} to {1}" />
      </searchPage>
    </addBrand>
    <addBrand brandName="BL">
      <customError>
        <errorMessage value="Error has been occurred, Please contact System Administrator."/>
        <errorLogLocation value="D:/Log/BLLog"/>
      </customError>
      <uiLogoAndBanner>
        <backgroundColor value="white !important" />
        <brandLogoPath value="~/Images/Logos/BL/logo.png" />
        <brandBannerPath value="~/Images/Logos/BL/banner.jpg" />
      </uiLogoAndBanner>
      <loginPage>
        <jobCodesAllowedToLogin value="KH,PTASM,FTASM,SM,DM,TEMPKH,TEMPASMP,TEMPASMF,TEMPSM" />
        <loginPageHeading value="Discount Eligibility" />
        <loginFieldLabel value="EMPLOYEE ID*" />
        <loginFieldPlaceholder value="Employee Id" />
        <loginButtonValue value="Login" />
        <errorMessageIfUserNotFound value="Invalid Employee Id" />
        <errorMessageIfUserNotAllowedToLogin value="You are not allowed to login. Use different Employee Id." />
        <range minValue="1" maxValue="999999" errorMessage="Please Enter value in between {0} to {1}" />
      </loginPage>
      <searchPage>
        <searchPageHeading value="Discount Eligibility" />
        <searchFieldLabel value="ASSOCIATE NUMBER" />
        <searchFieldPlaceholder value="Associate Number" />
        <searchButtonValue value="Verify Discount Status" />
        <searchPanelHeading value="Searched Result" />
        <preferredName value="PREFERRED NAME" />
        <location value="LOCATION" />
        <eligibleForDiscount value="ELIGIBLE FOR DISCOUNT?" />
        <noResultFound value="Employee Id doesn't exist" />
        <range minValue="1" maxValue="999999" errorMessage="Please Enter value in between {0} to {1}" />
      </searchPage>
    </addBrand>
    <addBrand brandName="TD">
      <customError>
        <errorMessage value="Error has been occurred, Please contact System Administrator."/>
        <errorLogLocation value="D:/Log/TDLog"/>
      </customError>
      <uiLogoAndBanner>
        <backgroundColor value="white !important" />
        <brandLogoPath value="~/Images/Logos/TD/logo.png" />
        <brandBannerPath value="~/Images/Logos/TD/banner.jpg" />
      </uiLogoAndBanner>
      <loginPage>
        <jobCodesAllowedToLogin value="KH,PTASM,FTASM,SM,DM,TEMPKH,TEMPASMP,TEMPASMF,TEMPSM" />
        <loginPageHeading value="Discount Eligibility" />
        <loginFieldLabel value="EMPLOYEE ID *" />
        <loginFieldPlaceholder value="Employee Id" />
        <loginButtonValue value="Login" />
        <errorMessageIfUserNotFound value="Invalid Employee Id" />
        <errorMessageIfUserNotAllowedToLogin value="You are not allowed to login. Use different Employee Id." />
        <range minValue="1" maxValue="999999" errorMessage="Please Enter value in between {0} to {1}" />
      </loginPage>
      <searchPage>
        <searchPageHeading value="Discount Eligibility" />
        <searchFieldLabel value="ASSOCIATE NUMBER" />
        <searchFieldPlaceholder value="Associate Number" />
        <searchButtonValue value="Verify Discount Status" />
        <searchPanelHeading value="Searched Result" />
        <preferredName value="PREFERRED NAME" />
        <location value="LOCATION" />
        <eligibleForDiscount value="ELIGIBLE FOR DISCOUNT?" />
        <noResultFound value="Employee Id doesn't exist" />
        <range minValue="1" maxValue="999999" errorMessage="Please Enter value in between {0} to {1}" />
      </searchPage>
    </addBrand>
  </allBrands>
</DSP>