<DSP>
  <loginPage>
    <loginPageHeading value="Discount Eligibility" />
    <loginLabel value ="EMPLOYEE ID *"/>
    <loginPlaceholder value ="Employee Id"/>
    <loginButtonValue value ="Login"/>
    <invalidLogin value="Invalid Employee Id"/>
    <inactiveUser value="Inactive Employee"/>
    <range>
      <minValue value ="1"/>
      <maxValue value ="999999"/>
      <errorMessage value ="Please Enter value in between {0} to {1}"/>
    </range>
  </loginPage>

  <searchPage>
    <searchPageHeading value="Discount Eligibility"/>
    <searchLabel value="ASSOCIATE NUMBER"/>
    <searchPlaceholder value = "Associate Number"/>
    <searchButtonValue value ="Verify Discount Status"/>
    <searchPanelHeading value ="Searched Result."/>
    <preferredName value ="PREFERRED NAME:"/>
    <location value ="LOCATION:"/>
    <eligibleForDiscount value ="ELIGIBLE FOR DISCOUNT?:"/>
    <noResultFound  value = "Employee Id is not Exist"/>
    <range>
      <minValue value ="1"/>
      <maxValue value ="999999"/>
      <errorMessage value ="Please Enter value in between {0} to {1}"/>
    </range>
  </searchPage>
</DSP>