

/*#region Basic setting for size */

body {
    margin-top: 60px;
}

.container-fluid {
    margin: 15px;
}

.banner-setting {
    width:100%;
    height:100px;
}

.ellipsis-overflow
{
    padding:0;
}
.ellipsis-overflow *
{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.name-section{
    padding: 7px 7px;
    color: blue;
}

.span-text {
    border: 1px solid #ddd;
    padding: 5px 10px;
    background: #ddd;
    color: blue;
}

/*#endregion */

/*#region Override border color for navbar bootstrap */
.navbar-inverse
{
    border-color:transparent !important;
}
/*#endregion */


/*#region Taken from HotTopic.com */

* {
    font-family: 'Roboto', sans-serif;
    border-radius:0 !important;
}

.primary-logo {
    margin: 10px auto;
    position: relative;
    /*width: 170px;*/
    z-index: 40;
}

.input-setting {
    border-radius: 0;
}


.label-setting {
    font-weight: 100;
    font-size: 12px !important;
    text-transform: uppercase;
    text-align: left !important;
    padding: 7.5px 0;
    margin-bottom:0;
}

.redBtn {
    width: auto;
    color: #fff !important;
    background: #ee1c25 !important;
    border-radius: 0;
    /* padding: 5px 60px; */
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .redBtn {
        width: 100%;
    }

    .banner-setting{
        height:60px;
    }
}
/*#endregion */