@using DSP.Helper;
@model string
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="panel panel-danger">
        <div class="panel-heading">Error Occurred</div>
        <div class="panel-body">
            @if(string.IsNullOrEmpty(Model))
            {
                @ApplicationVariable.GetBrandConfig().CustomError.ErrorMessage.Value
            }
            else
            {
                @Model
            }            
        </div>
    </div>
</div>
